.list-group-item {
  margin: 10px;
  background-color: rgb(233, 154, 126);
  
}
.todoItem{
      padding:10px;
      margin:10px;
      
 }
.button{
    float:right;
    width: 70px;
    position: relative;
    bottom: 6px;
    background-color: rgb(80, 69, 233);
    border-radius: 10px;
    padding: 4px;
    color: aliceblue;
  }
.todoItem:active{
    text-decoration: line-through;
  }
 .button:focus {outline:0;}
  
  